$color_1: white;
$color_2: #61dafb;
$background-color_1: #282c34;

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
.App {
	text-align: center;
}
.App-logo {
	height: 40vmin;
	pointer-events: none;
}
.App-header {
	background-color: $background-color_1;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: $color_1;
}
.App-link {
	color: $color_2;
}
@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.navItem {
  padding: 5px;
  text-decoration: none;
  &:hover {
	color: navy;
  }
}

body{
  background-color: bisque
}

.submitBtn{
	&:hover {
		background: lightgray
	}
}

#homeNote {
	text-decoration-color: rgb(108, 104, 104);
	color:rgb(108, 104, 104);
}

ul {
  list-style-position: inside;
  text-align: left;
  margin: 0 auto;
  padding-left: 38%;
}

.uploadDesc{
	align-items: center;
	padding-bottom: 20px;

}


